#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: #000;

  &:hover {
    color: aqua;
    background: transparent !important;
  }
}
.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: #000;

  &:hover {
    color: red;
    background: transparent !important;
  }
}

.btn-add-user {
  border: none;
  outline: none;
  background: #04aa6d;
  color: #000;

  &:hover {
    color: white;
    background: #04aa6d !important;
  }
}
.btn-close {
  color: #000;
  right: 20px !important;

  &:hover {
    color: white !important;
  }
}
.btn-submit {
  border: none;
  outline: none;
  color: #000;
  background: #04aa6d;

  &:hover {
    color: white;
    background: #04aa6d !important;
  }
}
.btn-submit-close {
  border: none;
  outline: none;
  color: #000;
  background: grey;
  &:hover {
    color: white;
  }
}
